<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Es1" method = 'GET'>
        <input type = "text" name = scuola> Inserisci il nome della scuola<br> 
        <input type="submit" value='Es1'>
    </form>
    
    <form action="/Es2" method = 'GET'>
        <input type = "radio" name = scuola>TECNOLOGICO <br> 
        <input type = "radio" name = scuola>ECONOMICO <br> 
        <input type = "radio" name = scuola>SCIENTIFICO <br> 
        <input type = "radio" name = scuola>SERVIZI <br> 
        <input type = "radio" name = scuola>NUOVI PROFESSIONALI <br> 
        <input type = "radio" name = scuola>LINGUISTICO <br> 
        <input type = "radio" name = scuola>SCIENZE UMANE <br> 
        <input type = "radio" name = scuola>ARTISTICO <br> 
        <input type = "radio" name = scuola>CLASSICO <br> 
        <input type = "radio" name = scuola>IeFP <br> 
        <input type = "radio" name = scuola>INDUSTRIALE E ARTIGIANATO <br> 
        <input type = "radio" name = scuola>MUSICALE  <br> 
        <input type = "radio" name = scuola>EUROPERO <br> 
        <input type = "radio" name = scuola>INTERNAZIONALE <br> 
        <input type="submit" value='Es2'>
    </form>
</body>
</html>